
target/

**/debug/
**/release/

.idea/
.vscode/
*.swp   # For Vim swap files, if applicable
.env
# If you have a Cargo.lock in a library crate, you may want to ignore it, 
# but for binary projects it’s usually committed:
Cargo.lock


